

<!-- <div class="opinion-container">
	<div *ngFor="let opinion of opinionList"
		class="opinion-box">
				<h3>{{opinion.description}}</h3>
	</div>
</div> -->



<div class="opinion-container">
	<div class="opinion-box">
		<h3>
			Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis
		</h3>
	</div>
	<div class="opinion-box">
		<h3>
			At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias 
		</h3>
	</div>
</div>