
<svg width="1000px" height="27px" viewBox="0 0 1684 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Debate" transform="translate(-161.000000, -2086.000000)">
            <g id="votes-visualization" transform="translate(161.000000, 2086.000000)">
                <rect id="Rectangle" fill="#EFA98B" x="0" y="5" width="1684" height="24" rx="12"></rect>
                <circle id="Oval" fill="#635286" cx="1563" cy="17" r="17"></circle>
                <circle id="Oval-Copy" fill="#635286" cx="1521" cy="17" r="17"></circle>
                <circle id="Oval-Copy-2" fill="#635286" cx="1479" cy="17" r="17"></circle>
                <circle id="Oval-Copy-3" fill="#635286" cx="1437" cy="17" r="17"></circle>
                <circle id="Oval-Copy-16" fill="#635286" cx="664" cy="17" r="17"></circle>
                <circle id="Oval-Copy-25" fill="#635286" cx="112" cy="17" r="17"></circle>
                <circle id="Oval-Copy-4" fill="#635286" cx="1395" cy="17" r="17"></circle>
                <circle id="Oval-Copy-24" fill="#635286" cx="1662" cy="17" r="17"></circle>
                <circle id="Oval-Copy-17" fill="#635286" cx="622" cy="17" r="17"></circle>
                <circle id="Oval-Copy-26" fill="#635286" cx="70" cy="17" r="17"></circle>
                <circle id="Oval-Copy-5" fill="#635286" cx="1353" cy="17" r="17"></circle>
                <circle id="Oval-Copy-18" fill="#635286" cx="580" cy="17" r="17"></circle>
                <circle id="Oval-Copy-27" fill="#635286" cx="28" cy="17" r="17"></circle>
                <circle id="Oval-Copy-6" fill="#635286" cx="1311" cy="17" r="17"></circle>
                <circle id="Oval-Copy-19" fill="#635286" cx="538" cy="17" r="17"></circle>
                <circle id="Oval-Copy-7" fill="#635286" cx="1244" cy="17" r="17"></circle>
                <circle id="Oval-Copy-8" fill="#635286" cx="1145" cy="17" r="17"></circle>
                <circle id="Oval-Copy-20" fill="#635286" cx="372" cy="17" r="17"></circle>
                <circle id="Oval-Copy-13" fill="#635286" cx="823" cy="17" r="17"></circle>
                <circle id="Oval-Copy-9" fill="#FF0055" cx="1095" cy="17" r="17"></circle>
                <circle id="Oval-Copy-21" fill="#635286" cx="322" cy="17" r="17"></circle>
                <circle id="Oval-Copy-11" fill="#635286" cx="798" cy="17" r="17"></circle>
                <circle id="Oval-Copy-22" fill="#635286" cx="112" cy="17" r="17"></circle>
                <circle id="Oval-Copy-14" fill="#635286" cx="476" cy="17" r="17"></circle>
                <circle id="Oval-Copy-10" fill="#635286" cx="897" cy="17" r="17"></circle>
                <circle id="Oval-Copy-23" fill="#635286" cx="211" cy="17" r="17"></circle>
                <circle id="Oval-Copy-15" fill="#635286" cx="575" cy="17" r="17"></circle>
                <circle id="Oval-Copy-28" fill="#635286" cx="23" cy="17" r="17"></circle>
                <circle id="Oval-Copy-12" fill="#635286" cx="600" cy="17" r="17"></circle>
            </g>
        </g>
    </g>
</svg>